@page "/students/details"
@using Microsoft.EntityFrameworkCore
@using Academy2.Models
@using System
@inject IDbContextFactory<Academy2.Data.Academy2Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Student</h2>
    <hr />
    @if (student is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">stud_id</dt>
            <dd class="col-sm-10">@student.stud_id</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">last_name</dt>
            <dd class="col-sm-10">@student.last_name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">first_name</dt>
            <dd class="col-sm-10">@student.first_name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">middle_name</dt>
            <dd class="col-sm-10">@student.middle_name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">birth_date</dt>
            <dd class="col-sm-10">@student.birth_date</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">email</dt>
            <dd class="col-sm-10">@student.email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">phone</dt>
            <dd class="col-sm-10">@student.phone</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">photo</dt>
            <dd class="col-sm-10">
                @if (student.photo != null && student.photo.Length > 0)
                {
                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(student.photo)}")" style="max-width: 300px; max-height: 400px; object-fit: cover;" />
                }
                else
                {
                    <span>No photo</span>
                }
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">group</dt>
            <dd class="col-sm-10">@student.Group?.group_name</dd>
        </dl>
        <div>
            <a href="@($"/students/edit?stud_id={student.stud_id}")">Edit</a> |
            <a href="/students">Back to List</a>
        </div>
    }
</div>

@code {
    private Student? student;

    [SupplyParameterFromQuery]
    private int stud_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        student = await context.Students
            .Include(s => s.Group)
            .FirstOrDefaultAsync(m => m.stud_id == stud_id);

        if (student is null)
        {
            NavigationManager.NotFound();
        }
    }
}